:root{
    --primary: #000;
}
body{
    max-width: 100vw;
    min-height: 100%;
    overflow-x: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 6px 12px rgba(0,0,0, .05);
    height: 56px;
    padding: 10px 0;
    z-index: 99;
    background:#fff;
}
.header h1{
    color: var(--primary);
    margin: 0;
    line-height: 1.1;
}


.main-container{
    margin-top: 56px;
}
.content{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 56px);
    padding-top: 30px;
    padding-bottom: 30px;
}

.main{
    width: 100%;
    flex: 1;
}

.footer{
    text-align: right;
    width: 100%;
}

.search-btn{
    height: 100%;
    padding: 5px 10px
}

.progress{
    margin: 30px 0 0;
}

.news-list{
    margin-top: 30px;
    margin-bottom: 30px;
}
.news-card{
    margin-bottom: 15px;
}
.news-card .card{
    position: relative;
    height: 100%;
}
.card__link{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 9;
}
.news-card__img{
    height: 250px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.news-card__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 767px){
    .news-card__img{
        height: 200px;
    }
}